Shopping.json
{
  "name": "Shopping",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -656,
        -304
      ],
      "id": "d4270717-70fc-4a9e-b8cd-4976efe2f408",
      "name": "Telegram Trigger",
      "webhookId": "8f9b99d3-c4df-4dbb-a9b0-37e6a7c38fd7",
      "credentials": {
        "telegramApi": {
          "id": "ljWI345aDwTSVLAm",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4d635792-075f-4cef-baf2-6bab074899f0",
                    "leftValue": "={{ $json.message.voice.file_id }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -528,
        -304
      ],
      "id": "44085144-0a94-4b67-abaf-593698de618c",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }} or {{ $json.message.text }}",
        "options": {
          "systemMessage": "=Twoja rola jest notowanie moich zakupów. Z mojej wypowiedzi masz wychwycić poniższe informacje:\n1. Data zakupu, jeżeli nie ma daty to jest to dzisiejsza data\n2. Miejsce lub sklep\n3. Przedmiot zakupu\n4. koszt, jeżeli nie podałem waluty to jest to PLN\nWykorzystaj Google Sheet aby zapisać poniższe informacje w odpowiadajacych powyższym danym kolumnach.\nAktualna data to {{ $today }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        80,
        -320
      ],
      "id": "e65af338-944b-4ff8-80d3-5f9e0b749214",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        80,
        -128
      ],
      "id": "de30389d-ee00-4800-96f7-766001e25002",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "3a2N71KInPe58jcz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        480,
        -320
      ],
      "id": "25e2ddd1-d817-40b9-8080-a77c95e921a2",
      "name": "Telegram",
      "webhookId": "d9aafcee-d7d6-4319-8a92-4ea0ae347e09",
      "credentials": {
        "telegramApi": {
          "id": "1Wy1DmjVeXzEEvvo",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1KfT05BX64tY-GsSjtJ2CQW1s4A27piRLFFCRo6UpOnk/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1KfT05BX64tY-GsSjtJ2CQW1s4A27piRLFFCRo6UpOnk/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Date": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Date', ``, 'string') }}",
            "Shop": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Shop', ``, 'string') }}",
            "Items": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Items', ``, 'string') }}",
            "Cost": "={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Cost', ``, 'string') }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Shop",
              "displayName": "Shop",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Items",
              "displayName": "Items",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Cost",
              "displayName": "Cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.5,
      "position": [
        240,
        -128
      ],
      "id": "27f7e77b-63f8-49af-96c0-9dc72cad865d",
      "name": "Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "LMvHGW0mVTEjg5UC",
          "name": "Google Sheets account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -176,
        -128
      ],
      "id": "7f0e69b9-ff84-4998-9c5b-8b27ca8d139d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "3a2N71KInPe58jcz",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -336,
        -128
      ],
      "id": "6ad5de54-dd7f-47e0-9fa7-8f30c52497cf",
      "name": "Telegram Voice",
      "webhookId": "ce41f7b9-d977-426e-9c2f-4c88c7812783",
      "credentials": {
        "telegramApi": {
          "id": "1Wy1DmjVeXzEEvvo",
          "name": "Telegram account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Voice",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Voice": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "49e616ab-b6ef-4c98-8896-2a090a669870",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "085070d46c962c42661609c3c6fe933c425a0d9814e91397d6453c2865b0bc17"
  },
  "id": "aI9gePGI0lH504j7",
  "tags": []
}